.intro{
    font-size: large;
}

h1{
    margin-left: 595px;
    color: red;
}
.link:hover{
    font-size: xx-large;
}
.home:hover{
    font-size: xx-large;
}
.home{
    position: fixed;
    color: red;
}
.image{
   margin-right: 200px;
    float: right;
    width: 500px;
    height: 350px;
}
.image2{
 height: 350px;
 width: 500px;
}
.iframe{
    margin-left: 595;
}
.image3{
    float:right;
    height: 350px;
 width: 500px;
}
body{
    background-color: bisque;
}
.image4{
    float: right;
    height: 500px;
    width: 600px;
}
li{
    font-style: italic;
}
.image5{
    height: 250px;
    width: 300px;
}